<app-top-bar></app-top-bar>
<h3>Categories:</h3>

<div class="body">
  <ul class="category-list">
    <li *ngFor="let category of categories" (click)="categoryClick(category.name)">
      <p>{{ category.name }}</p>
    </li>
  </ul>
</div>

<app-product-list *ngIf="show" [categoryName]="categoryName"></app-product-list>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
